#title {
    background-color: #ff4c68;
    color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    
    font-size: 3.3rem;
    line-height: 1.5;
}


.container-fluid {
    padding: 3% 15% 7%;
}

body {
    font-family: 'Montserrat';
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}


/* navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrant-light";
}


/* Buttons */        

/* Here for styling buttons don't use the classes of bootstrap, because if we use those classes again in index.html the style given in here will get applied*/

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title image*/

.title-image {
    width: 90%;         /* Takes 90% size of parent div */
    padding-left: 100px;
    rotate: 25deg;
    position: absolute;
}

/* Features section */

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/*Testimonial section*/

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/*Pricing Section*/

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width:1000px){
    #title {
        text-align: center;
    }
    .title-image{
        position: static;
        rotate: 0deg;
    }
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    color:#fff;
    padding: 7% 15%;
}

/* cta Section */

.h3-cta{
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer Section */

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}
